body {
    margin-top: 50px;
    padding: 50px;
    font-size: 30px;
    text-decoration: none;
}

.div0 {
    margin: 30px 30px;
}

.div1 {
    margin: 30px 30px;
}

.div2 {
    margin: 30px 30px;
}

.div3 {
    margin: 30px 30px;
}

.div4 {
    margin: 30px 30px;
}

.headland {
    border: 2px solid black;
    font-family: "headland one", system-ui;
    padding: 10px;
    text-decoration: none;
}

.skranji {
    font-family: "skranji", system-ui;
    border: 2px solid black;
    padding: 10px;
    text-decoration: none;
}

.oranienbaum {
    font-family: "oranienbaum", system-ui;
    border: 2px solid black;
    padding: 10px;
    text-decoration: none;
}

.rye {
    font-family: "rye", system-ui;
    border: 2px solid black;
    padding: 10px;
    text-decoration: none;
}

.meie_script {
    font-family: "meie script", system-ui;
    border: 2px solid black;
    padding: 10px;
    text-decoration: none;
}

.oregano {
    font-family: "oregano", system-ui;
    border: 2px solid black;
    padding: 10px;
    text-decoration: none;
}

.mclaren {
    font-family: "mclaren", system-ui;
    border: 2px solid black;
    padding: 10px;
    text-decoration: none;
}

.racing-sans-one {
    font-family: "racing sans one", system-ui;
    border: 2px solid black;
    padding: 10px;
    text-decoration: none;
}

.life-savers {
    font-family: "life savers", system-ui;
    border: 2px solid black;
    padding: 10px;
    text-decoration: none;
}

.romanesco {
    font-family: "romanesco", system-ui;
    border: 2px solid black;
    padding: 10px;
    text-decoration: none;
}

.galindo {
    font-family: "galindo", system-ui;
    border: 2px solid black;
    padding: 10px;
    text-decoration: none;
}

.revalia {
    font-family: "revalia", system-ui;
    border: 2px solid black;
    padding: 10px;
    text-decoration: none;
}

.quattrocento {
    font-family: "quattrocento", system-ui;
    border: 2px solid black;
    padding: 10px;
    text-decoration: none;
}

.capriola {
    font-family: "capriola", system-ui;
    border: 2px solid black;
    padding: 10px;
    text-decoration: none;
}

.Shadows-Into-Light-Two {
    font-family: "Shadows Into Light Two", system-ui;
    border: 2px solid black;
    padding: 10px;
    text-decoration: none;
}

.quantico {
    font-family: "quantico", system-ui;
    border: 2px solid black;
    padding: 10px;
    text-decoration: none;
}

.miniver {
    font-family: "miniver", system-ui;
    border: 2px solid black;
    padding: 10px;
    text-decoration: none;
}

.kreon {
    font-family: "kreon", system-ui;
    border: 2px solid black;
    padding: 10px;
    text-decoration: none;
}

.stint-ultra-condensed {
    font-family: "stint ultra condensed", system-ui;
    border: 2px solid black;
    padding: 10px;
    text-decoration: none;
}

.metal-mania {
    font-family: "metal mania", system-ui;
    border: 2px solid black;
    padding: 10px;
    text-decoration: none;
}

.sorts-mill-goudy {
    font-family: "sorts mill goudy", system-ui;
    border: 2px solid black;
    padding: 10px;
    text-decoration: none;
}

.eagle-lake {
    font-family: "eagle lake", system-ui;
    border: 2px solid black;
    padding: 10px;
    text-decoration: none;
}

.mr-dafoe {
    font-family: "mr dafoe", system-ui;
    border: 2px solid black;
    padding: 10px;
    text-decoration: none;
}

.changa-one {
    font-family: "change one", system-ui;
    border: 2px solid black;
    padding: 10px;
    text-decoration: none;
}

.quando {
    font-family: "quando", system-ui;
    border: 2px solid black;
    padding: 10px;
    text-decoration: none;
}

.enriqueta {
    font-family: "enriqueta", system-ui;
    border: 2px solid black;
    padding: 10px;
    text-decoration: none;
}