h1 {
    text-align: center;
    color: rgb(15, 165, 15);
}
h3 {
    text-align: center;
    color: rgb(15, 165, 15);
}
.border {
    border-radius: 9px;
    
}
.birinchi {
    border-radius: 9px;
    background-color: lightgreen;
}
.ikkinchi {
    border-radius: 9px;
    background-color: lightgreen;

}
.uchinchi {
    border-radius: 9px;
    background-color: lightgreen;
}
.tortinchi {
    border-radius: 9px;
    background-color: lightgreen;
}